@charset "UTF-8";

@use "abstracts/variables" as *;
@use "abstracts/mixin" as m;

// components
@use "components/section-title";
@use "components/nav";
@use "components/btn";
@use "components/bg-decor";
@use "components/bg-video";


// layout
@use "layout/base";
@use "layout/header";
@use "layout/footer";


// pages
@use "pages/top";











