@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as m;

/*-------------------------------------------
Topページ
-------------------------------------------*/
/*-------------------------------------------
mainvisual
-------------------------------------------*/
.mainvisual {
    position: relative;

    .logo {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.2s linear;
        z-index: -90;
    }
}

/*-------------------------------------------
about
-------------------------------------------*/
.about {
    position: relative;
    color: $text-light;
    padding-bottom: 120px; //Memo：授業
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.9));
    --link-color: #{$text-light};

    // 次セクションへのグラデーション
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        pointer-events: none;
        background: linear-gradient(to bottom,
                rgba(253, 251, 248, 0),
                $bg-base );
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;
    }

    &__inner {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 60px;
    }

    &__lead {
        font-size: $section-title;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 10px;
        line-height: 2.8;
    }

    &__text {
        width: 40%;
        padding-top: 80px;

        p {
            padding-bottom: 20px;
        }
    }


    .btn--arrow {
        margin-right: 180px;
    }
}

/*-------------------------------------------
info
-------------------------------------------*/
.info {
    position: relative;
    background: $bg-base;
    --link-color: #{$text-main};

    // 背景 装飾パス
    .icon {
        bottom: 20%;
        left: 30%;
        width: 90px;
        height: 120px;
        background-image: url(../img/icon-gray.png);
    }

    .wave-top {
        top: 5%;
        right: 0;
        width: 750px;
        height: 120px;
        background-image: url(../img/wave-top.png);
    }

    .wave-bottom {
        bottom: 14%;
        left: 0;
        width: 800px;
        height: 120px;
        background-image: url(../img/wave-bottom.png);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    .section-title {
        margin-bottom: 90px;
    }

    &__text {
        margin-bottom: 40px;

        p {
            padding-bottom: 15px;
        }
    }

    .btn--arrow {
        margin-left: auto;
        color: $text-main;
    }

    &__img {
        z-index: 2;

    }

    &__img img {
        width: 520px;
    }
}

/*-------------------------------------------
location
-------------------------------------------*/
.location {
    color: #EDEDED;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    padding-top: 0;
    --link-color: #EDEDED;

    // 背景スライダー
    position: relative;
    height: 100vh;
    overflow: hidden;

    .bg-slider {
        position: absolute;
        inset: 0;
        z-index: 0;
        height: 100%;
        background: #000;

        &__item {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            // filter: blur(9px);
            filter: blur(9px) brightness(0.82);
            transform: scale(1.1);
            opacity: 0;
            transition: opacity 1.2s ease;

            &.is-active {
                opacity: 1;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    .section-title__ja {
        color: currentColor;
    }

    &__text {
        display: flex;
        flex-direction: column;
        width: 45%;
        padding-top: 180px;

        &__desc {
            padding-top: 110px;

            p {
                margin-bottom: 15px;
            }
        }

        .btn--arrow {
            padding-top: 40px;
            margin-left: auto;
        }
    }

    &__slider {
        width: 42%;
        height: 100%;
        margin: 0;
        padding: 0;

        .slick-list,
        .slick-track,
        &__item {
            height: 100%;
        }

        &__item {
            position: relative;
        }

        &__item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .location__caption {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 150px;
            margin: 0;
            background: #fff;
            color: $text-main;
            text-shadow: none;
            font-size: 30px;
            height: 80px;
            text-align: right;
        }
    }
}

/*-------------------------------------------
news
-------------------------------------------*/
.news {
    background: $bg-base;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    // ===== サイドバー =====
    &__side {
        width: 250px;
        border-right: 1px solid $accent-dark;
        margin-right: 40px;
    }

    &__tabs {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    &__tab {
        width: 130px;
        padding: 8px;
        background: $bg-sub;
        color: $text-main;
        // border: 1px solid currentColor;
        border-radius: 9999px;
        cursor: pointer;
        transition: background-color 0.25s ease, color 0.25s ease;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);

        &:hover {
            background: $accent-light;
            color: $text-main;
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
            // transform: translateY(-1px);
        }

        &.is-active {
            background: $accent-dark;
            color: #fff;
            box-shadow: none;
        }
    }

    // ===== 記事 =====
    &__content {
        margin-top: 30px;
    }

    &__lead {
        padding-bottom: 30px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    // ===== リスト内容 =====

    &__item {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
        overflow: hidden;
        letter-spacing: 0;
        transition: opacity 0.3s ease;

        &.is-fade-out {
            opacity: 0;
            transform: translateY(5px);
        }

        &.is-hidden {
            display: none;
        }

        &.is-fade-in {
            display: block;
            opacity: 0;
            transform: translateY(5px);
        }
    }

    &__img-wrap {
        position: relative;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        letter-spacing: 0.12em;
        font-weight: bold;
        color: #fff;

        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &__body {
        min-height: 70px;
        padding: 5px 10px 16px;
    }

    &__meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-size: 11px;
    }

    &__category {
        padding: 3px 8px;
        border: 1px solid currentColor;
        border-radius: 9px;
        color: #BCAD7D;
    }

    &__text {
        margin-top: 5px;
        font-size: 16px;
        font-weight: bold;
    }

    // ===== hover時 =====
    &__item:hover &__overlay {
        opacity: 1;
    }
}

