@use "../abstracts/mixin" as m;

.fadeIn_up {
    opacity: 0;
    transform: translateY(40px);
    transition: 1.5s;

    @include m.sp {
        transform: translateY(20px);
        transition: 1.5s ease;
    }

    &.is-show {
        opacity: 1;
        transform: translateY(0);
    }
}