.fadeIn_up {
    opacity: 0;
    transform: translate(0, 30%);
    transition: 2s;
}

.fadeIn_up.is-show {
    transform: translate(0, 0);
    opacity: 1;
}


.steam-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}
