@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as m;

/*-------------------------------------------
base
-------------------------------------------*/

// ==== base ====
body {
    color: $text-main;
    line-height: 1.6;
    letter-spacing: 0.2em;
}


// ==== Global element ====
section {
    display: flex;
    align-items: center;
    min-height: 120vh;
}

ul {
    list-style: none;
}

a {
    color: $text-main;
    text-decoration: none;
}

img {
    vertical-align: bottom;
}


// ==== Layout ====
.container {
    max-width: 1300px;
    padding: 0 50px;
    margin-inline: auto;

    @include m.sp {
        padding: 50px 20px;
    }
}