@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as m;

/*-------------------------------------------
footer
-------------------------------------------*/
.footer {
    background: $bg-sub;
    padding-top: 50px;

    &__hero {
        position: relative;
        display: block;
        width: 100%;
        height: 400px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 40px;
    }

    &__hero-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__hero-text {
        position: absolute;
        left: 20px;
        bottom: 20px;
        color: $text-light;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    }

    &__text {
        &--ja {
            font-size: 64px;
        }

        &--en {
            font-family: "Marcellus", serif;
            font-size: 30px;
        }
    }

    &__bottom {
        display: flex;
    }
}