@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as m;

/*-------------------------------------------
header
-------------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    // 初期：非表示
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;

    // 背景グラデーション
    &::before {
        position: absolute;
        content: "";
        inset: 0;
        padding: 3.8%;
        pointer-events: none;
        z-index: -1;
        background: linear-gradient(to bottom,
                rgba(253, 251, 248, 0.95),
                rgba(253, 251, 248, 0.6),
                rgba(253, 251, 248, 0));
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo img {
        width: 100px;
        margin: 10px 0;
    }

    .nav {
        margin: 0;

        &__list {
            display: flex;
            gap: 30px;
        }

        &__link {
            position: relative;
            display: inline-block;
            min-width: 100px;
            height: 1.6em;
        }

        &__text {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            white-space: nowrap;
            pointer-events: none;
            transition: opacity 0.4s ease;
            text-align: center;

            &--ja {
                opacity: 1;
                // transform: translateY(0);
            }

            &--en {
                opacity: 0;
                // transform: translateY(6px);
                letter-spacing: 0;
            }
        }
    }

    // ===== スクロール about以降で固定表示 ===== 
    &.is-show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;

        .nav__item:hover .nav__text--ja {
            opacity: 0;
            // transform: translateY(-6px);
        }

        .nav__item:hover .nav__text--en {
            opacity: 1;
            // transform: translateY(0);
        }

        @include m.sp {
            opacity: 0;
        }
    }
}