@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as m;

/*-------------------------------------------
header
-------------------------------------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    // 初期：非表示
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;

    .page-sub & {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    // 背景グラデーション
    &::before {
        position: absolute;
        content: "";
        inset: 0;
        padding: 3.8%;
        pointer-events: none;
        z-index: -1;
        background: linear-gradient(to bottom,
                rgba(253, 251, 248, 0.95),
                rgba(253, 251, 248, 0.6),
                rgba(253, 251, 248, 0));
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include m.sp {
            padding: 0 20px;
        }
    }

    &__logo img {
        width: 100px;
        margin: 10px 0;
    }

    // ===== スクロール about以降で固定表示 ===== 
    &.is-show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    // === ハンバーガー ===
    &__hamburger {
        display: none;

        @include m.tab {
            display: block;
            width: 30px;
            height: 30px;
            position: relative;
            cursor: pointer;
            z-index: 100;

            span {
                display: block;
                width: 30px;
                height: 2px;
                background-color: $text-main;
                transition: 0.5s;
                position: absolute;
            }

            span:nth-child(1) {
                top: 8px;
            }

            span:nth-child(2) {
                top: 18px;
            }

        }
    }

    &.is-open {
        .header__hamburger span:nth-child(1) {
            transform: translateY(5px) rotate(45deg);
        }

        .header__hamburger span:nth-child(2) {
            transform: translateY(-5px) rotate(-45deg);
        }
    }
}