/*-------------------------------------------
video
-------------------------------------------*/
.bg-video {
    position: fixed;
    inset: 0;
    z-index: -100;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}