/*-------------------------------------------
video
-------------------------------------------*/
.bg-video {
    position: fixed;
    inset: 0;
    // top: 0;
    // left: 0;
    z-index: -100;
    height: 100lvh;
    // width: 100vw;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}