@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as m;

/*-------------------------------------------
btn
-------------------------------------------*/

// 矢印付き
@keyframes line-flow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 10px 0;
    }
}

.btn--arrow {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    color: var(--link-color);
    text-decoration: none;
    
    // 下線
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-image: linear-gradient(to right, var(--link-color) 40%, transparent 40%);
        background-size: 10px 3px;
        background-repeat: repeat-x;
    }

    // 矢印
    .arrow-icon {
        position: absolute;
        right: -25px;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 10px;
        
        &::before, &::after {
            content: "";
            position: absolute;
            right: 0;
            width: 9px;
            height: 2px;
            background: var(--link-color);
            border-radius: 2px;
            transition: transform 0.3s ease;
        }
        &::before { top: 1px; transform: rotate(45deg); }
        &::after { bottom: 1px; transform: rotate(-45deg); }
    }

    &:hover {
        &::after {
            animation: line-flow 0.5s linear infinite;
        }

        .arrow-icon::before { transform: translateX(5px) rotate(45deg); }
        .arrow-icon::after { transform: translateX(5px) rotate(-45deg); }
    }
}