@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as m;

/*-------------------------------------------
btn
-------------------------------------------*/

// 矢印付き
.btn--arrow {
    position: relative;
    display: inline-block;
    padding: 0;
    color: var(--link-color);
    border-bottom: 2px solid transparent;
    border-image: repeating-linear-gradient(to right,
            var(--link-color) 0,
            var(--link-color) 5px,
            transparent 2px,
            transparent 11px) 1;

    &::before,
    &::after {
        position: absolute;
        right: -25px;
        content: "";
        width: 12px;
        height: 2px;
        display: inline-block;
        border-radius: 2px;
        background: var(--link-color);
    }

    &::before {
        bottom: 18px;
        transform: rotate(45deg);
    }

    &::after {
        bottom: 10px;
        transform: rotate(-45deg);
    }
}

