@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as m;

/*-------------------------------------------
section-title
-------------------------------------------*/
.section-title {
    margin-bottom: 90px;
    padding-bottom: 20px;
    border-bottom: 2px solid $accent-dark;  // 一時リリース用に追加

    @include m.tab {
        margin-bottom: 40px;
    }

    @include m.sp {
        margin-bottom: 20px;
    }

    &__en {
        display: block;
        line-height: 1;
        font-family: "Marcellus", serif;
        font-size: 64px;

        @include m.tab {
            font-size: 48px;
        }
    }

    &__ja {
        display: block;
        font-size: 20px;
        color: #A7A7A7;

        @include m.tab {
            font-size: 16px;
        }

    }
}